.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subtitle {
  margin-bottom: 4rem;
}

.number-input {
  margin-bottom: 2rem;
}

.range-input {
  margin-bottom: .5rem
}

.button {
  margin: 1.5rem 0;
}